
body{
    background-color: #eae2b7;
}
#temp{
    width:31%;
}
/* #img{
    width:30%;
    height: 20%;
    /* margin: auto;
    display: block; */
 */
#container{
    /* width:30%;
    height: 20%; */
    /* display: block;
    margin: auto; */
    /* border: 3px ;
    padding: 10px; */
    
}
